

$(".vocables").children().last().append(
  "<tr><td>"+"<%= @vocable.german%>"  +"</td><td>" +"<%= @vocable.swedish%>"  + "</td><td> " +"<%= @vocable.english%>"+ " </td> <td>" + " <%= j render 'deleteButton', vocable: @vocable%>" +"</td></tr>");
