<h3>
  <%= unit.name %>
</h3>
<% if progress %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%;">
    <span class="sr-only"> <%= progress %> % Complete</span>
  </div>
</div>
<% end %>
<%= render 'vocables/vocable', vocable: unit.vocables %>
