<h1>Editing Unit</h1>

<%= render 'form' %>



<%= render 'vocables/form', vocable: @unit.vocables, unit_id: @unit.id %>
<br>
<%= link_to 'Back', units_path, class:"btn btn-default" %>
<%= link_to 'Show', @unit, class:"btn btn-default pull-right" %>
